---
layout: layouts/home.njk
permalink: /communaute/
title: Communauté
---

<h1>{{ title }}</h1>

<p>Techologie c'est aussi une communauté, un espace de discussion.</p>

<p>
  
  <a href="https://framateam.org/techologie/" class="focus">
    Rejoignez-nous sur Framateam
  </a>
</p>

<p>
  Jouer au 
  <a href="/extra/jeu-ecoconception/">
    jeu de l'écoconception 100% anti-greenwashing
  </a>
</p>