---
layout: layouts/home.njk
permalink: /communaute/
title: Communauté
---

<h1>{{ title }}</h1>

<p>Techologie c'est aussi une communauté, un espace de discussion sur Framateam.</p>

<p>
  
  <a href="https://framateam.org/techologie/" class="focus">
    Rejoignez-nous
  </a>
</p>