---
layout: layouts/home.njk
permalink: /episodes/
title: Épisodes
eleventyNavigation:
  key: Épisodes
  order: 30
---

<h1>{{ title }}</h1>

{% set episodes = collections.episode %}

<ul class="episodes">
  {% for episode in episodes | reverse %}
    <li class="enlarge-link">
      <div class="image">
        <img src="{{ episode.data.image }}" alt="{{ episode.data.people }}" />
      </div>
      <div class="description">
        <p class="episode-label">
          Épisode {{ episode.data.episode_number }}
        </p>
        <h2>
          <a href="{{ episode.url | url }}">{{ episode.data.title }}</a>
        </h2>
        <p>{{ episode.data.people }}</p>
      </div>
    </li>
{% endfor %}
</ul>