---
layout: layouts/base.njk
permalink: /en/
title: Podcast Techologie english episodes
lang: en
---

<h1>Techologie</h1>

<p>The podcast that tries to link technology and ecology when everything opposes them.</p>

<h2>{{ title }}</h2>

{% set episodes = collections.episode %}

<ul class="episodes">
{% for episode in episodes | reverse %}
  {% if episode.data.lang == 'en' %}
  <li class="enlarge-link">
    <div class="image">
      <img src="{{ episode.data.image }}" alt="{{ episode.data.people }}" loading="lazy" />
    </div>
    <div class="description">
      <p class="episode-label">
        {{ episode.data.date | readableDate }}
      </p>
      <h3>
        <a href="{{ episode.url | url }}">{{ episode.data.title }}</a>
      </h3>
      <p>{{ episode.data.people }}</p>
    </div>
  </li>
  {% endif %}
{% endfor %}
</ul>
