---
layout: layouts/base.njk
permalink: /en/
title: Podcast Techologie english episodes
lang: en
---

<h1>Techologie</h1>

<p>The podcast that tries to link technology and ecology when everything opposes them.</p>

<h2>{{ title }}</h2>

{% set episodes = collections.episode %}

<ul class="episodes">
{% for episode in episodes | reverse %}
  {% if episode.data.lang == 'en' %}
    {% include "episodeslist.njk" %}
  {% endif %}
{% endfor %}
</ul>
