---
layout: layouts/home.njk
title: Podcast Techologie
eleventyNavigation:
  key: Home
  order: 1
---

<div class="logo">
  <div class="centered">
    <a href="/episodes/">
      <img src="/img/techologie-logo.png" alt="Techologie"/>
    </a>
  </div>
</div>
<div class="home--content centered">
  <h1>
    Techologie, le podcast qui questionne le rôle des technologies face aux enjeux écologiques.
  </h1>

  <h2>Les derniers épisodes</h2>

  <ul class="episodes">
  {% set episodes = collections.episode | head(-3) %}
  {% for episode in episodes | reverse %}
    {% include "episodeslist.njk" %}
  {% endfor %}
  </ul>

  <p class="text-centered">
    <a href="/episodes/" class="focus">
      Tous les épisodes
    </a>
  </p>

  <h2>Écouter et s'abonner</h2>
  <p>Écouter Techologie sur votre plateforme de podcast préférée :</p>
  <p class="buttons-list">
    <a href="https://itunes.apple.com/fr/podcast/techologie/id1446844143?mt=2">Apple podcast</a>
    <a href="https://www.deezer.com/fr/show/601512">Deezer</a>
    <a href="https://www.imagotv.fr/podcasts/techologie">Imago</a>
    <a href="https://podcastaddict.com/podcast/techologie/2406027">Podcast Addict</a>
    <a href="https://soundcloud.com/techologie">Soundcloud</a>
    <a href="https://open.spotify.com/show/4UWIXYVgM4SHzDLHarxFqs?si=5biELlz2SJeV1-BAuP4csQ">Spotify</a>
    <a href="http://feeds.soundcloud.com/users/soundcloud:users:555069720/sounds.rss">Flux RSS</a>
  </p>

  <h2>Aussi...</h2>
  <p class="buttons-list">
    <a href="/communaute/">💬 Communauté</a>
    <a href="/newsletter/">💌 Newsletter</a>
    <a href="/extra/jeu-ecoconception/">🎮 Quiz écoconception</a>
    <a href="https://liberapay.com/podcast-techologie" target="_blank">🫶 Nous soutenir</a>
  </p>
</div>