---
layout: layouts/home.njk
permalink: /newsletter/
title: Newsletter
---

<h1>{{ title }}</h1>

<h2>S'inscrire à la newsletter</h2>

<p>
  Inscrivez-vous à la newsletter de Techologie pour recevoir tous les mois
  un contenu original, une veille collaborative sur le thème
  technologies et écologie, les alertes greenwashing et le tout sur un ton
  léger car oui, même si le sujet est grave, on essaye de ne pas se
  prendre au sérieux.
</p>

<p><a href="#archives">Lire la newsletter en ligne</a></p>

<p>Pour information, l'outil tiers utilisé est Mailjet.</p>

<iframe
  title="Inscription à la newsletter"
  scrolling="no"
  marginheight="0"
  marginwidth="0"
  src="https://app.mailjet.com/widget/iframe/6Adg/I8g"
  style="height: 300px"
  width="100%"
  frameborder="0"
></iframe>

<h2 id="archives">Les archives de la newsletter</h2>

{% set newsletters = collections.newsletter %}

<ul>
  {% for newsletter in newsletters | reverse %}
  <li><a href="{{ newsletter.url | url }}">#{{ newsletter.data.number}}. {{ newsletter.data.title}}</a></li>
  {% endfor %}
</ul>
