{% if lang != 'en' %}
  <div class="alert alert--success">
    <p class="alert__title">Évènement à ne pas manquer</p>
    <p>
      <b>La réalité minière du numérique</b>, Rencontre avec Celia Izoard le 4 mai 2024 à Paris, organisée par Point de MIR et animée par Techologie
      <a
        href="https://www.helloasso.com/associations/point-de-m-i-r/evenements/la-realite-miniere-du-numerique"
        target="_blank">Infos et inscription</a>
    </p>
  </div>
{% endif %}