{#
{% if lang != 'en' %}
  <div class="alert alert--success">
    <p class="alert__title">Vous aimez Techologie ?</p>
    <p>
      Et vous souhaitez soutenir le travail ?
      <a
        href="https://liberapay.com/podcast-techologie"
        target="_blank">Soutenir Techologie</a>
    </p>
  </div>
{% endif %}
#}