---
layout: layouts/base.njk
---

<br />

<h1>{{title}}</h1>

<p class="published">
  {% if lang == 'en' %}
    <a href="/en">Episodes</a> &gt; published on {{date | readableDate}}
  {% else %}
    Épisode {{episode_number}} publié le {{date | toFrenchDate}}
  {% endif %}
</p>

<p>
  <img src="{{image}}" alt="{{people | safe }}" />
</p>

<p class="label">
  <span>{{people | safe}}</span>
</p>

<p>{{description | safe}}</p>

<p class="listen">
  {% if lang == 'en' %}
    <a href="{{audio_link | safe}}" title="Listen {{title | safe}} on Soundcloud" class="focus">
      Listen
    </a>
  {% else %}
    <a href="{{audio_link | safe}}" title="Écouter l'épisode {{title | safe}} sur Soundcloud" class="focus">
      Écouter
    </a>
  {% endif %}
</p>

{{ content | safe }}

<hr />

<p>
  {% if lang == 'en' %}
    By listening to this episode, you will download {{audio_size_in_megabyte}} MB of data.
  {% else %}
    En écoutant cet épisode, vous téléchargerez {{audio_size_in_megabyte}} Mo de données.
  {% endif %}
</p>

{# "/" final à supprimer dans page.url
<p>
  <a
    href="https://github.com/supertanuki/techologieWeb/blob/master/src{{ page.url }}.md"
  >
    Proposer une modification de cette page
  </a>
</p>
#}
