---
layout: layouts/base.njk
---

<h1>{{title}}</h1>

<p><a href="/newsletter">Newsletters</a> &gt; n°{{number}} envoyée le {{date | toFrenchDate}}</p>

<div>{{ content | safe }}</div>

{% include "annonce.njk" %}

<p class="text-centered">
  <a href="https://www.linkedin.com/newsletters/techologie-7028643818493116416/" class="focus" target="_blank">
    S'inscrire à la newsletter sur linkedin
  </a>
</p>
