body {
    font-family: Helvetica, serif;
    color: black;
    background: white;
}

.frame {
    width: 700px;
    margin: auto;
}

.logo {
    border-radius: 20px;
    overflow: hidden;
}

.episodes {
    list-style: none;
    margin: 0;
    padding: 0;
}

.block {
    padding: 10px 20px;
}

.episode {
    margin: 10px 0;
}

.block, .episode {
    background: #ddf7ee;
    border-radius: 20px;
    overflow: hidden;
}

.clear {
    clear: both;
}

.episode .image {
    width: 20%;
    float: left;
}

.episode .image img {
    width: 100%;
    margin: 0;
}

.episode .description {
    width: 70%;
    float: left;
    margin-left: 5%;
    padding-top: 20px;
}

.centered {
    text-align: center;
}

a {
    color: darkblue;
}

img {
    margin: 20px auto;
    display: block;
}

h1 {
    font-size: 26px;
    font-weight: normal;
}

h2 {
    font-size: 20px;
    font-weight: normal;
}

header nav {
    float: left;
    line-height: 50px;
}

header nav img.logo {
    float: left;
    margin: 0 10px 0 0;
    padding: 0;
}

.list-centered {
    float:right;
    position: relative;
    left: -50%;
}

ul.buttons-list {
    list-style: none;
    margin: 0;
    padding: 0;
    left: 50%;
    position: relative;
}

ul.buttons-list li {
    float: left;
    margin: 0 4px;
}

.button {
    border: none;
    cursor: pointer;
    height: 36px;
    font-size: 20px;
    line-height: 36px;
    color: white;
    white-space: nowrap;
    background: #0e3f2f;
    padding: 0 10px;
}

a.button {
    padding: 10px;
}

section {
    margin: 15px 0;
}

.toggle-mode {
    position: fixed;
    top: 10px;
    right: 10px;
}

.dark {
    color: white;
    background: #051510;
}

.dark a {
    color: white;
}

.dark .block, .dark .episode {
    background: #0e3f2f;
    color: white;
}

@media screen and (max-width: 767px) {
    .frame {
        width: 100%;
    }

    .episode .image {
        width: 30%;
    }

    .episode .description {
        width: 60%;
        padding-top: 0px;
    }
}
