<!doctype html>
<html lang="{% if lang == 'en' %}en{% else %}fr{% endif %}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/css/global.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">

    <meta property="og:title" content="{{ title or metadata.title }}" />
    <meta property="og:description" content="{{ description or metadata.description }}" />
    <meta property="og:image" content="{{ image | url | absoluteUrl(metadata.url) }}" />
    <meta property="og:type" content="website" />

    <meta property="twitter:title" content="{{ title or metadata.title }}" />
    <meta property="twitter:description" content="{{ description or metadata.description }}" />
    <meta property="twitter:image" content="{{ image | url | absoluteUrl(metadata.url) }}" />
    <meta property="twitter:creator" content="{{ metadata.author.name }}" />
    <meta property="twitter:card" content="summary" />
  </head>
  <body class="{% if page.url == '/' %}home{% endif %}">
    <header>
      <label aria-hidden="true" class="minimal-menu-button" for="mobile-nav">
        Menu
      </label>
      <input
        aria-hidden="true"
        class="minimal-menu-button"
        type="checkbox"
        id="mobile-nav"
        name="mobile-nav"
      />
      <nav class="minimal-menu clr-black pos-fixed">
        <ul>
          <li>
            <a href="{{ '/' | url }}" {% if '/' == page.url %}aria-current="page"{% endif %}>Techologie</a>
          </li>
          <li>
            <a href="{{ '/episodes/' | url }}" {% if '/episodes/' == page.url %}aria-current="page"{% endif %}>Épisodes</a>
          </li>
          <li>
            <a href="{{ '/communaute/' | url }}" {% if '/communaute/' == page.url %}aria-current="page"{% endif %}>Communauté</a>
          </li>
          <li>
            <a href="{{ '/newsletter/' | url }}" {% if '/newsletter/' == page.url %}aria-current="page"{% endif %}>Newsletter</a>
          </li>
          <li>
            <a href="{{ '/a-propos/' | url }}" {% if '/a-propos/' == page.url %}aria-current="page"{% endif %}>À propos</a>
          </li>
          <li>
            <a href="{{ '/en/' | url }}" {% if '/en/' == page.url %}aria-current="page"{% endif %}>English</a>
          </li>
        </ul>
      </nav>
    </header>

    <main class="{% if page.url not in ['/episodes/', '/en/'] %}centered{% endif %}">
      {{ content | safe }}
    </main>

    <footer>
      <div class="centered">
      <p>
        Podcast de la sélection <a href="https://www.imagotv.fr/">IMAGO</a>,
        publié sous licence
        <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/fr/">
          Creative Commons
        </a>
      </p>
      <p>
        <a href="/newsletter/">S'inscrire à la newsletter</a>.
        <a href="{{ metadata.feed.path | url }}">Flux RSS des épisodes et de la newsletter</a>.
      </p>
      <p>
        Commenter sur
        <a href="https://twitter.com/techologieAudio">Twitter</a>,
        <a href="https://www.imagotv.fr/podcasts/techologie">Imago</a>, ou
        <a href="https://framateam.org/techologie/">
          Framateam
        </a>
      </p>
      </div>
    </footer>
  </body>
</html>
